<div class="col-12 align-self-center">
  <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
    <div class="w-sm-100 mr-auto">
      <h4 class="mb-0"><%= locals.breadcrumb[locals.breadcrumb.length - 1].tag %></h4>
    </div>

    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
      <% for(let i=0; i < locals.breadcrumb.length; i++) { %>
      <li class="breadcrumb-item">
        <a href="<%= locals.breadcrumb[i].link %>">
          <%= locals.breadcrumb[i].tag %>
        </a>
      </li>
      <% } %>
    </ol>
  </div>
</div>
