<div class="sidebar">
  <div class="site-width">
    <!-- START: Menu-->
    <ul id="side-menu" class="sidebar-menu">
      <li class="dropdown">
        <a href="#"><i class="icon-home mr-1"></i>Bảng điều khiển</a>
        <ul>
          <li class="dropdown">
            <a href="#"><i class="icon-chart"></i>Thống kê</a>
            <ul class="sub-menu">
              <li class="dropdown">
                <a href="#" class="d-flex align-items-center"><i class="icon-control-pause"></i>Nguồn mở</a>
                <ul class="sub-menu">
                  <li>
                    <a href="/admin/dashboard/stats/open-api/openweathermap">Open Weather Map</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="d-flex align-items-center"><i class="icon-control-pause"></i>Trạm quan trắc</a>
                <ul class="sub-menu">
                  <li>
                    <a href="/admin/dashboard/stats/stations/air">Dữ liệu không khí</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#"><i class="icon-layers mr-1"></i>Quản trị</a>
        <ul>
          <li class="dropdown">
            <a href="#"><i class="icon-globe-alt"></i>Dữ liệu môi trường</a>
            <ul class="sub-menu">
              <li class="dropdown">
                <a href="#" class="d-flex align-items-center"><i class="icon-control-pause"></i>Nguồn mở</a>
                <ul class="sub-menu">
                  <li>
                    <a href="/admin/management/env-data/open-api/openweathermap">Open Weather Map</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="d-flex align-items-center"
                  ><i class="icon-control-pause"></i>Trạm quan trắc</a
                >
                <ul class="sub-menu">
                  <li>
                    <a href="/admin/management/env-data/stations/air"
                      >Dữ liệu không khí</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="d-flex align-items-center"><i class="icon-control-pause"></i>Dữ liệu từ website</a>
                <ul class="sub-menu">
                  <li>
                    <a href="/admin/management/env-data/web-crawl/baotainguyenmoitruong">Báo tài nguyên môi trường</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#"><i class="icon-settings mr-1"></i>Cấu hình</a>
        <ul>
          <li>
            <a href="/admin/config/profile"
              ><i class="icon-user"></i>Tài khoản</a
            >
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#"><i class="icon-support mr-1"></i>Hỗ trợ</a>
        <ul>
          <li>
            <a href="https://it.humg.edu.vn/"
              ><i class="icon-paper-plane"></i>Liên hệ</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <!-- END: Menu-->
    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0 ml-auto">
      <% for(let i=0; i < locals.breadcrumb.length; i++) { %>
      <li class="breadcrumb-item">
        <a href="<%= locals.breadcrumb[i].link %>"
          ><%= locals.breadcrumb[i].tag %></a
        >
      </li>
      <% } %>
    </ol>
  </div>
</div>
