<div class="row">
    <div class="col-12 mt-3 sub-datatable">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Dữ liệu từ file</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="sub-datatable" class="display table dataTable table-striped table-bordered editable-table layout-info">
                        <div class="row d-flex justify-content-around align-items-center mb-3">
                            <div class="mb-3">
                                <select id="table-sheet-select" class="form-control">
                                </select>
                            </div>
                            <button id="sendData" class="btn btn-success rounded-btn btn-sm mb-3">Lưu dữ liệu</button>
                            <button id="cancelSendData" class="btn btn-secondary rounded-btn btn-sm mb-3">Thoát</button>
                        </div>
                        <thead>
                            <tr>
                                <th>Địa chỉ</th>
                                <th>Tỉnh</th>
                                <th>Xã</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Ngày giờ</th>
                                <th>TSP</th>
                                <th>SO2</th>
                                <th>NO2</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-header  justify-content-between align-items-center">
                <h4 class="card-title">Cơ sở dữ liệu</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display table row-hover dataTable table-striped table-bordered editable-table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Id</th>
                                <th class="width-200px">Địa chỉ</th>
                                <th>Tỉnh</th>
                                <th>Xã</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Ngày giờ</th>
                                <th>TSP</th>
                                <th>SO2</th>
                                <th>NO2</th>
                                <th>AQI-TSP</th>
                                <th>AQI-SO2</th>
                                <th>AQI-NO2</th>
                                <th>Hành động</a></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Id</th>
                                <th class="width-200px">Địa chỉ</th>
                                <th>Tỉnh</th>
                                <th>Xã</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Ngày giờ</th>
                                <th>TSP</th>
                                <th>SO2</th>
                                <th>NO2</th>
                                <th>AQI-TSP</th>
                                <th>AQI-SO2</th>
                                <th>AQI-NO2</th>
                                <th>Hành động</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN: TABLE MODAL HANDLER -->
<div class="modal fade bd-example-modal-lg" id="table-action-modal" tabindex="-1" role="dialog"
    aria-labelledby="tableModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tableModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- START: INSERT FORM-->
            <div class="modal-body">
                <!-- type number + step any = float type-->
                <form id="form-action-modal">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="AdressValid">Địa chỉ</label>
                            <input type="text" class="form-control" name="AdressValid" id="AdressValid"
                                placeholder="Địa chỉ lấy mẫu" spellcheck="false" required>
                            <div class="invalid-feedback">Không hợp lệ</div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="StateValid">Tỉnh</label>
                            <input type="text" class="form-control" name="StateValid" id="StateValid" placeholder="Địa chỉ lấy mẫu"
                                spellcheck="false" required>
                            <div class="invalid-feedback">Không hợp lệ</div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="CommuneValid">Xã</label>
                            <input type="text" class="form-control" name="CommuneValid" id="CommuneValid" placeholder="Thị trấn"
                                spellcheck="false" required>
                            <div class="invalid-feedback">Không hợp lệ</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="LatitudeValid">Toạ độ Latitude</label>
                            <input type="number" step="any" class="form-control" id="LatitudeValid"
                                placeholder="Toạ độ Lat" required>
                            <div class="invalid-feedback">Không hợp lệ</div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="LongitudeValid">Toạ độ Longitude</label>
                            <input type="number" step="any" class="form-control" id="LongitudeValid"
                                placeholder="Toạ độ Long" required>
                            <div class="invalid-feedback">Không hợp lệ</div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="DateValid">Ngày giờ lấy mẫu</label>
                            <input type="datetime-local" class="form-control" id="DateValid">
                            <div class="invalid-feedback">Không hợp lệ</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="TspValid">TSP (Total Suspended Particles)</label>
                            <input type="number" step="any" class="form-control" id="TspValid" placeholder="Giá trị hợp lệ 0 - 500.4" required>
                            <div class="invalid-feedback">Không hợp lệ</div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="So2Valid">SO2 (Sulfur Dioxit)</label>
                            <input type="number" step="any" class="form-control" id="So2Valid"
                                placeholder="Giá trị hợp lệ 0 - 1004" required>
                            <div class="invalid-feedback">Không hợp lệ</div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="No2Valid">NO2 (Nito Dioxit)</label>
                            <input type="number" step="any" class="form-control" id="No2Valid"
                                placeholder="Giá trị hợp lệ 0 - 2049" required>
                            <div class="invalid-feedback">
                                Không hợp lệ.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="actionId" />
                        <input type="hidden" id="actionType" />
                        <input type="submit" id="tableSaveChange" class="btn btn-primary" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    </div>
                </form>
            </div>
            <!-- END: INSERT FORM-->
        </div>
    </div>
</div>
<!-- END: TABLE MODAL HANDLER -->

<!-- BEGIN: FILE MODAL HANDLER -->
<div class="modal fade" id="file-modal-handler" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle1">Nhập file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <div class="file-input-wrapper mb-3">
                            <input type="file" class="custom-file-input" id="file_input" name="filename" accept=".xlsx, .csv, .json, .xls">
                            <label class="custom-file-label" for="file_input">Choose file</label>
                        </div>
                        <div class="custom-file mb-3 select-sheet-wrapper">
                            <label for="sheet-select">Sheet</label>
                            <select id="sheet-select" class="form-control">
                                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="show-sub-datatable">Hiển thị</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: FILE MODAL HANDLER -->