<div class="row">
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-header  justify-content-between align-items-center">
                <h4 class="card-title">Dữ liệu mở khu vực Hà Nội</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display table row-hover dataTable table-striped table-bordered editable-table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Id</th>
                                <th>Quận</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Ngày giờ</th>
                                <th>O3</th>
                                <th>PM2.5</th>
                                <th>PM10</th>
                                <th>CO</th>
                                <th>SO2</th>
                                <th>NO2</th>
                                <th>AQI-O3</th>
                                <th>AQI-PM2.5</th>
                                <th>AQI-PM10</th>
                                <th>AQI-CO</th>
                                <th>AQI-SO2</th>
                                <th>AQI-NO2</th>
                                <th>Hành động</a></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Id</th>
                                <th>Quận</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Ngày giờ</th>
                                <th>O3</th>
                                <th>PM2.5</th>
                                <th>PM10</th>
                                <th>CO</th>
                                <th>SO2</th>
                                <th>NO2</th>
                                <th>AQI-O3</th>
                                <th>AQI-PM2.5</th>
                                <th>AQI-PM10</th>
                                <th>AQI-CO</th>
                                <th>AQI-SO2</th>
                                <th>AQI-NO2</th>
                                <th>Hành động</a></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: FILE MODAL HANDLER -->